:root {
    --primary-color: #3f51b5;

    --primary-font-color: #ffffff;
    --secondary-font-color: #70777d;

    --bot-balloon-color: #ffffff;

    --shadow-1: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow-2: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
