:root {
    --primary-color: #3f51b5; /*  User message color, also the header color */

    --primary-font-color: #ffffff; /*  User text font color */
    --secondary-font-color: #70777d; /*  Bot text font color*/

    --bot-balloon-color: #ffffff;

    --shadow-1: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --shadow-2: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
