.ps-chat-header {
    background: #E55D87;
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);
    background: linear-gradient(to right, #5FC3E4, #E55D87);
    padding: 2vh 0vh 2vh 1vh;
}

.ps-chat-message {
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 25px;
    box-shadow: 0 0 3px #B2B2B2;
    align-items: center;
    max-width: 70vw;
}

.ps-chat-sent {
    background: #5FC3E4;
}

.ps-chat-received{
    background: #E55D87;
}

.ps-chat-footer {
    background: #ffffff;
    box-shadow: 0 -2px 1px rgba(220,220,220,0.5);
    padding: 1vh 0vw 1vh 3vw;
}

.ps-chat-footer-button{
    display: flex;
    justify-content: flex-end;
    
}

.ps-transparent-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;   
}

.ps-transparent-button::after{
    background-color: transparent;
}

.ps-transparent-button:hover{
    background-color: transparent;
}

.ps-transparent-button:active{
    background-color: transparent;
}

.ps-force-justify-end{
    justify-content: flex-end !important;
}

.ps-chat-footer input{
    border: 0px;
}

.ps-chat-footer input:focus{
    outline: none;
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0px rgba(24, 144, 255, 0);
}

.ps-username-name{
    padding-left: 0.5rem;
}

@media (max-width: 300px) 
{
    .ps-username-name{
        padding-left: 2rem;
    }
}