@import './theme';
// START - Header
.ps-chat-header {
    background: $primary-color;
    padding: 2vh 0vh 2vh 1vh;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.ps-bot-name{
    padding-left: 0.5rem;
    color: white;
    font-size: 1rem;
}
// END - Header

// START - Message e ChatConatiner
.ps-message {
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 0 3px #B2B2B2;
    align-items: center;
    max-width: 70vw;
    font-weight: 500;
}

.ps-image-message {
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    align-items: center;

    img{
        width: 35vw;
    }
}

.ps-li-message {
    max-width: 50vw;
    background-color: $secondary-color;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    border: 1px solid $primary-color;
    display: inline-block;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    color: $secondary-font-color;

    &:hover{
        background-color: rgba($primary-color, 0.5)
    }
}

.ps-message-sent {
    background: $primary-color;
    color: $primary-font-color;
    border-radius: 20px 0px 20px 20px;
    a{
        color: $primary-font-color;
    }
}

.ps-message-received{
    background: $secondary-color;
    color: $secondary-font-color;
    border-radius: 0px 20px 20px 20px;
    a{
        color: $primary-color;
    }
}

.ps-chat-container{
    background: $chat-background;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: auto;
    max-width: 100%;
    
    &::-webkit-scrollbar-track {
        background-color: #F4F4F4;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background: #F4F4F4;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        height: 30px;
    }
}

.ps-chat-container > div:last-child{
    padding-bottom: 7vh;
}

.ps-chat-error-feedback {
    color: red;
}
// END - Message e ChatConatiner

// START - Footer
.ps-chat-footer {
    background: #ffffff;
    box-shadow: 0 -2px 1px rgba(220,220,220,0.5);
    padding: 1vh 0vw 1vh 3vw;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    max-width: 100%;

    input{
        border-radius: 20px 20px 20px 20px;
    }
}

.ps-footer-button{
    display: flex;
    justify-content: flex-end;
}

.ps-chat-footer input{
    border: 0px;
}

.ps-chat-footer input:focus{
    outline: none;
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0px rgba(24, 144, 255, 0);
}

.ps-status-request{
    margin-bottom: 2vh;
    margin-left: 1vw;
    width: fit-content;
}
// END - Footer

// START - General
.ps-transparent-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;

    &::after{
        background-color: transparent;
    }
    
    &:hover{
        background-color: transparent;
    }
    
    &:active{
        background-color: transparent;
    }
}

.ps-force-justify-end{
    justify-content: flex-end !important;
}

.ps-large-button{
    border-radius: 25px;
    padding: 0px 15vw 0px 15vw;
}

.ps-input-border-less{
    border: 0px;
    border-bottom: $primary-color 1px solid;
    border-radius: 0px;
    background-color: transparent;
}

.ps-social-button{
    border-radius: 25px;
    padding: 0px 5vw 0px 5vw;
    margin: 0vh 1vw 0vh 1vw;
}

.ps-align-center{
    display:flex;
    justify-content:center;
}

.ps-align-end{
    display:flex;
    justify-content:flex-end;
}

// END - General

//START - Login
.ps-login-content{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 3vh;
    border-radius: 20px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);

    label.ant-form-item-required {
        font-size: smaller;
        font-weight: bold;
        color: $primary-color;
    }

    label.ant-form-item-required::before {
        content: '';
    }

    .ps-large-button{
        background-color: $primary-color;
        color: $primary-font-color;
        border-color: $primary-color;
    }

    .ps-login-link{
        color: $secondary-font-color;
    }
}

.ps-login-background{
    background: $primary-color;
    background: -webkit-linear-gradient(to right, $primary-color, rgba($primary-color,0.3));
    background: linear-gradient(to right, $primary-color, rgba($primary-color,0.3));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ps-chat-brand{
    height: 20vh;
    fill: $primary-color;
}

// END - Login

//START - Medias
@media (max-width: 300px) 
{
    .ps-bot-name{
        padding-left: 2rem;
    }
}

@media (max-width: 460px) 
{
    .ps-large-button{
        padding: 0px 30vw 0px 30vw;
    }
    .ps-login-content{
        width: 100vw;
        height: 100vh;
    }
}

@media (min-width: 800px) 
{
    button.ps-footer-button{
        padding-left: 3.5vw !important;
    }
}