// THEME 1
$primary-color: #6c5bb9;
$secondary-color: #ffffff;
$primary-font-color: #ffffff;
$secondary-font-color: #70777d;
$chat-background: #f5f9fa;

// THEME 2
// $primary-color: #12a668;
// $secondary-color: #ffffff;
// $primary-font-color: #ffffff;
// $secondary-font-color: #70777d;
// $chat-background: #f5f9fa;

// THEME 3
// $primary-color: #00b5be;
// $secondary-color: #4682f5;
// $primary-font-color: #ffffff;
// $secondary-font-color: #ffffff;
// $chat-background: #e8ecef;