/* --- Desktop and Tablets --- */

.typo-h30 {
    font-size: 28px;
    font-weight: 400;
}

.typo-h40 {
    font-size: 24px;
    font-weight: 400;
}

.typo-h50 {
    font-size: 18px;
    font-weight: 400;
}
.typo-h60 {
    font-size: 14px;
    font-weight: 400;
}

/* --- Medium devices --- */
@media (max-width: 480px) {
    .typo-h30 {
        font-size: 25px;
        font-weight: 400;
    }

    .typo-h40 {
        font-size: 20px;
        font-weight: 400;
    }
    .typo-h50 {
        font-size: 16px;
        font-weight: 400;
    }
    .typo-h60 {
        font-size: 13px;
        font-weight: 400;
    }
}

/* --- Small devices --- */
@media (max-width: 375px) {
    .typo-h30 {
        font-size: 23px;
        font-weight: 400;
    }

    .typo-h40 {
        font-size: 19px;
        font-weight: 400;
    }

    .typo-h50 {
        font-size: 15px;
        font-weight: 400;
    }
    .typo-h60 {
        font-size: 12px;
        font-weight: 400;
    }
}
