:root {
    --primary-color: #3f51b5;
    --primary-color-disabled: #606fc7;
    --gray-1: #e2e2e2;
}

.ps-web-chat-position {
    width: 320px;
    height: 530px;
    border: 0px;
    position: absolute;
    right: 25px;
    bottom: 90px;
}

iframe.ps-web-chat-iframe {
    box-shadow: 1px 18px 38px 2px rgba(0, 0, 0, 0.1);
    display: none;
}

.ps-button-circle {
    border: none;
    outline: none;
    display: none;
    position: absolute;
    bottom: 2vh;
    right: 3vw;
    padding: 0;
    margin: 0 auto;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
    min-width: 50px;
    min-height: 50px;
    background-color: var(--primary-color);
    transition: 0.2s;
    z-index: 20;
}
.ps-button-circle:active {
    transform: scale(0.9);
}
.ps-button-circle:hover {
    cursor: pointer;
    background-color: var(--primary-color-disabled);
}

.ps-chat-opened-button {
    transform: scale(0.9);
    cursor: pointer;
    background-color: var(--primary-color-disabled);
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
}

.ps-chat-opened-button img {
    transform: rotate(45deg);
}

.ps-chat-closed-button img {
    transform: rotate(180deg);
}

.ps-button-circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

@media (max-width: 430px) {
    .ps-web-chat-position {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
    }

    .ps-chat-opened-button {
        bottom: 10vh;
    }
}

/* SKELETON STYLES */
#ps-chat-skeleton {
    display: none;
    z-index: 10;
    border: solid 1px var(--gray-1);
    background-color: #ffffff;
}

.ps-skeleton-header {
    height: 64px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
}

.ps-skeleton-name {
    width: 60%;
    height: 20px;
    margin-left: 16px;
    background-color: var(--gray-1);
}

.ps-skeleton-avatar {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.ps-skeleton-content {
    height: 70%;
    width: 100%;
}

.ps-skeleton-footer {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ps-skeleton-footer-input {
    width: 90%;
    height: 40%;
    border-radius: 20px;
}

.ps-loading {
    position: relative;
    overflow: hidden;
    background: var(--gray-1);
}

.ps-loading::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--gray-1), rgba(255, 255, 255, 0.5), var(--gray-1));
    animation: ps-loading 1s ease-in-out infinite;
}

@keyframes ps-loading {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

/* ----------------------------------------------
* Generated by Animista on 2019-4-21 14:46:57
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
.scale-in-br {
    -webkit-animation: scale-in-br 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-br 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-br {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
}
@keyframes scale-in-br {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        opacity: 1;
    }
}
